.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid black;
	margin: 10px;
	padding: 10px;
}

.container:last-of-type {
	border-bottom: 0px solid black;
}

.innerBox {
	display: flex;
	flex-direction: row;
}

.date,
.button {
	margin: 0 10px;
}
